<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title type="text/html" th:text="${title}"></title>
    <link rel="stylesheet" href="Task.css" type = "text/css"/>
</head>
<body>
<h1 th:text="${title}"></h1>
<div th:unless="${tasks} and ${tasks.size()}">
    <h1>You don't have any tasks yet create one now!</h1>
    <a href="task/add">
    <button>
        Create a task
    </button>
    </a>
</div>
<div th:if="${tasks}">
    <!--(id=${task.id})-->
    <ul th:each="task : ${tasks}" >
        <a th:href="@{/task/view/{id}(id=${task.id})}">

            <li><button th:text="${task.name}"></button></li></a>
    </ul>
    <a href="task/add">
        <button>
            Add a Task
        </button>
    </a>
</div>




</body>
</html>