<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title type="text/html" th:text="${title}"></title>
    <link rel="stylesheet" href="Task.css" type = "text/css"/>
</head>
<body>
<h1 th:text="${title}"></h1>
<theader></theader>
<table class="hover-table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <!--<th>Date</th>
        <th>Interval</th>
        <th>Unit</th>
        <th>Due Date</th>-->
    </tr>

    <tr th:each="task : ${tasks}">
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
        <!--<td th:text="${task.currentTimeStamp}"></td>
        <td th:text="${task.occurence}"></td>
        <td th:text="${task.unit}"></td>
        <td th:text="${task.dueDate}"></td>-->
    </tr>
</table>

<button></button>



</body>
</html>