<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="Task.css" type = "text/css"/>
</head>
<body>
    <div class="view">
    <h1 th:text="${task.name}" class="name"></h1>
    <p  th:text="${task.description}" class="description"></p>
    <p  th:text="${task.currentTimeStamp}" class="currentTimeStamp"></p>
    </div>
    <a th:href="@{/task}"><button>List of Tasks</button></a>



</body>
</html>